# Git
.git
.gitignore

# Virtual environments
.venv
venv
ENV
env

# Python cache
__pycache__
*.py[cod]
*$py.class
*.egg-info/
*.egg

# Environment files (НЕ копируем в образ)
.env
.env.test
.env.local

# IDE
.vscode
.idea
*.swp
*.swo

# Docker
docker-compose*.yml
.dockerignore

# Testing
.pytest_cache
.coverage
htmlcov
.tox
.nox

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3
